body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	//!bg pattern styles
	background: url("/images/bg-pattern-top-desktop.svg"),
		url("/images/bg-pattern-bottom-desktop.svg");
	background-repeat: no-repeat;
	background-position: top left, bottom right;
	@media (max-width: 450px) {
		background: url("/images/bg-pattern-top-mobile.svg"),
			url("/images/bg-pattern-bottom-mobile.svg");
		background-repeat: no-repeat;
		background-position: top left, bottom right;
	}
}
main {
	min-height: 600px;
	max-width: 1110px;
	@media (max-width: 750px) {
		min-height: unset;
	}
}

//!grid styles
.grid-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(210px, auto-fit);
	gap: 20px;
	@media (max-width: 750px) {
		margin: 8rem 0 10rem 0;
		padding: 0rem 2.5rem;
	}
}
@media (min-width: 750px) {
	.grid-container {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 235px 270px;
		gap: 30px;
	}
	.first {
		grid-column: 1/4;
		grid-row: 1/2;
	}
	.second {
		grid-column: 4/7;
		grid-row: 1/2;
	}
	.third {
		grid-column: 1/3;
		grid-row: 2/3;
	}
	.fourth {
		grid-column: 3/5;
		grid-row: 2/3;

		position: relative;
		top: 1.6rem;
	}
	.fifth {
		grid-column: 5/7;
		grid-row: 2/3;

		position: relative;
		top: 3.2rem;
	}
}
//!end

//? borders for visualization
// .card {
// 	border: 4px solid magenta;
// }
// .grid-container {
// 	border: 6px dotted dodgerblue;
// }
// main {
// 	border: 5px solid goldenrod;
// }
//? end
