//!font size
$fs-body: 1.5rem;
$fs-heading: 4rem;

//!colors
$color-primary-very-dark-magenta: hsl(300, 43%, 22%);
$color-primary-soft-pink: hsl(333, 80%, 67%);
$color-neutral-dark-grayish-magenta: hsl(303, 10%, 53%);
$color-neutral-dark-grayish-magenta: hsl(300, 24%, 96%);
$color-neutral-white: hsl(0, 0%, 100%);

//!font weight
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
